* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.full-screen {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-screen video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content img {
  margin-top: 350px;
  width: 90%;
}

#topBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: #101010;;
  color: white;
  border: none;
  cursor: pointer;
  display: none;
}

.loader-container {
  width: 100%;
  height: 100vh;
  background-color: #111;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid;
  color: #3498db;
  border-radius: 50%;
  border-top-color: transparent;
  animation: loader 1.2s linear infinite;
}


.text:hover{
    animation: bounce 1s linear;
}

@keyframes bounce{
    20%,50%,80%,to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    70%{
        transform: translateY(-15px);
    }
    90%{
        transform: translateY(-4px);
    }
}



@keyframes loader {
  25% {
    color: #2ecc71;
  }

  50% {
    color: #f1c40f;
  }

  75% {
    color: #e74c3c;
  }

  to {
    transform: rotate(360deg);
  }
}

.nose{
  border: 1px;
 display: inline-block;
 width: auto;
 margin: auto;
 padding: 20px, 20px;
 text-align: justify;
}

.profile-card{
  display: inline-block;
  width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

.card-header{
  background: #000;
  padding: 60px 40px;
}

.pic{
  display: inline-block;
  padding: 8px;
  background: linear-gradient(130deg, #74b9ff, #e66767);
  margin: auto;
  border-radius: 50%;
  background-size: 200% 200%;
  animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient{
  25%{
    background-position: left bottom;
  }
  50%{
    background-position: right bottom;
  }
  75%{
    background-position: right top;
  }
  100%{
    background-position: left top;
  }
}

.pic img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name{
  color: #f2f2f2;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}

.desc{
  font-size: 18px;
  color: #ff0000;
}

.sm{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.sm a{
  color: #f2f2f2;
  width: 56px;
  font-size: 22px;
  transition: .3s linear;
}

.sm a:hover{
  color: #ff0000;
}

.contact-btn{
  display: inline-block;
  padding: 12px 50px;
  color: #ff0000;
  border: 2px solid #ff0000;
  border-radius: 6px;
  margin-top: 16px;
  transition: .3s linear;
}

.contact-btn:hover{
  background: #ff0000;
  color: #f2f2f2;
}

.card-footer{
  background: #f4f4f4;
  padding: 60px 10px;
}

.numbers{
  display: flex;
  align-items: center;
}

.item{
  flex: 1;
  text-transform: uppercase;
  font-size: 13px;
  color: #ff0000;
}

.item span{
  display: block;
  color: #2c3a47;
  font-size: 30px;
}

.border{
  width: 1px;
  height: 30px;
  background: #bbb;
}


.imagen{
    margin: 0;
    padding: 0;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.image{
    width: 260px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin: 0 20px;
    filter: blur(0px);
}
.image1{
    width: 260px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin: 0 20px;
    filter: blur(5px);
}

.image img{
    width: 100%;
}

.image1 img{
    width: 100%;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


@media(max-width: 574px){
  .profile-card{
    width: 85%;

}
}

@media(max-width: 574px){
  .content{
    margin-top: none;
    width: 100%;
}
}

@media(max-width: 574px){
  .btn{
    margin-top: none;
    width: 50%;
    margin-left: 25% !important;

}
}

@media(max-width: 767px){
  .btn{
    margin-top: none;
    width: 50%;
    margin-left: 25% !important;

}
}
